<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
    <title>SpotifyLink 🔗</title>
</head>
<body>
    <div class="center">
        <h1 class="light huge">SpotifyLink 🔗</h1>
        <a href="/create-room" class="button light moderately-large">Create Room</a>
    </div>
</body>
</html>
<style>
* {
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #2E4052;
}
.light { 
    color: #fff;
}
.center {
  line-height: 200px;
  height: 200px;
  text-align: center;
}
.huge { 
    font-size: 100px;
}
.moderately-large {
    font-size: 50px;
}
</style>

